img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

ul,li{
    list-style: none;
    padding-left: 0;
}

.nav-btn{
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border-bottom: 3px solid transparent;

    &:hover{
        border-bottom: 3px solid #ebebeb;
        
    }
}

