
.loader-overlay{
    position: fixed;       
    top: 0;
    left: 0;
    width: 100%;            
    height: 100%;           
    background-color: rgba(68, 134, 136, 0.377); 
    backdrop-filter: blur(5px);
    display: flex;          
    justify-content: center;
    align-items: center;    
    z-index: 9999;

}

.loader {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 100;
    transform: translateX(-50%);
}

.loader::before, 
.loader::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    mix-blend-mode: multiply;
    animation: rotate92523 2s infinite cubic-bezier(0.77, 0, 0.175, 1);
}

.loader::before {
    background-color: #292929;    
}

.loader::after {
    background-color: #47c3cc;
    animation-delay: 1s;
}

@keyframes rotate92523 {
    0%, 100% {
        left: 35px;
    }

    25% {
        transform: scale(.3);
    }

    50% {
        left: 0%;
    }

    75% {
        transform: scale(1);
    }
}