/* From Uiverse.io by himanshu9682 */ 
.type--A {
    --line_color: #555555;
    --back_color: #ffecf6;
}
.type--B {
    --line_color: #1b1919;
    --back_color: #bee9ed;
}
.type--C {
    --line_color: #00135c;
    --back_color: #defffa;
}
.menuButton {
    position: relative;
    z-index: 0;
    width: 240px;
    height: 70px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--line_color);
    letter-spacing: 2px;
    transition: all 0.3s ease;
}
.menuButton__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.menuButton::before,
.menuButton::after,
.menuButton__text::before,
.menuButton__text::after {
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background: var(--line_color);
    transition: all 0.5s ease;
    }
.menuButton::before {
    top: 0;
    left: 54px;
    width: calc(100% - 56px * 2 - 16px);
}
.menuButton::after {
    top: 0;
    right: 54px;
    width: 8px;
}
.menuButton__text::before {
    bottom: 0;
    right: 54px;
    width: calc(100% - 56px * 2 - 16px);
}
.menuButton__text::after {
    bottom: 0;
    left: 54px;
    width: 8px;
}
.menuButton__line {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    overflow: hidden;
}
.menuButton__line::before {
    content: "";
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 300px;
    border: solid 3px var(--line_color);
}
.menuButton__line:nth-child(1),
.menuButton__line:nth-child(1)::before {
    left: 0;
}
.menuButton__line:nth-child(2),
.menuButton__line:nth-child(2)::before {
    right: 0;
}
.menuButton:hover {
    letter-spacing: 6px;
}
.menuButton:hover::before,
.menuButton:hover .menuButton__text::before {
    width: 8px;
}
.menuButton:hover::after,
.menuButton:hover .menuButton__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.menuButton__drow1,
.menuButton__drow2 {
    position: absolute;
    z-index: -1;
    border-radius: 16px;
    transform-origin: 16px 16px;
}
.menuButton__drow1 {
    top: -16px;
    left: 40px;
    width: 32px;
    height: 0;
    transform: rotate(30deg);
}
.menuButton__drow2 {
    top: 44px;
    left: 77px;
    width: 32px;
    height: 0;
    transform: rotate(-127deg);
}
.menuButton__drow1::before,
.menuButton__drow1::after,
.menuButton__drow2::before,
.menuButton__drow2::after {
    content: "";
    position: absolute;
}
.menuButton__drow1::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-60deg);
}
.menuButton__drow1::after {
    top: -10px;
    left: 45px;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(69deg);
}
.menuButton__drow2::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-146deg);
}
.menuButton__drow2::after {
    bottom: 26px;
    left: -40px;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-262deg);
}
.menuButton__drow1,
.menuButton__drow1::before,
.menuButton__drow1::after,
.menuButton__drow2,
.menuButton__drow2::before,
.menuButton__drow2::after {
    background: var(--back_color);
}
.menuButton:hover .menuButton__drow1 {
    animation: drow1 ease-in 0.06s;
    animation-fill-mode: forwards;
}
.menuButton:hover .menuButton__drow1::before {
    animation: drow2 linear 0.08s 0.06s;
    animation-fill-mode: forwards;
}
.menuButton:hover .menuButton__drow1::after {
    animation: drow3 linear 0.03s 0.14s;
    animation-fill-mode: forwards;
}
.menuButton:hover .menuButton__drow2 {
    animation: drow4 linear 0.06s 0.2s;
    animation-fill-mode: forwards;
}
.menuButton:hover .menuButton__drow2::before {
    animation: drow3 linear 0.03s 0.26s;
    animation-fill-mode: forwards;
}
.menuButton:hover .menuButton__drow2::after {
    animation: drow5 linear 0.06s 0.32s;
    animation-fill-mode: forwards;
}
@keyframes drow1 {
    0% {
        height: 0;
    }
    100% {
        height: 100px;
    }
}
@keyframes drow2 {
    0% {
        width: 0;
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    11% {
        opacity: 1;
    }
    100% {
        width: 120px;
    }
}
@keyframes drow3 {
    0% {
        width: 0;
    }
    100% {
        width: 80px;
    }
}
@keyframes drow4 {
    0% {
        height: 0;
    }
    100% {
        height: 120px;
    }
}
@keyframes drow5 {
    0% {
        width: 0;
    }
    100% {
        width: 124px;
    }
}

.containerA {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuButton:not(:last-child) {
    margin-bottom: 64px;
}

.btn-shake {
    animation: shake 1s ease infinite;
}

@keyframes shake {
    0%, 100% { transform: translateX(0) scale(1); }
    20% { transform: translateX(-2px) scale(1.25); }
    40% { transform: translateX(2px) scale(1.3); }
    60% { transform: translateX(-2px) scale(1.1); }
    80% { transform: translateX(2px) scale(1.15); }
}