.productCard{
    img{
        object-fit: cover;
        object-position: bottom;
        height: 100%;

    }
    .card{
        border: 0;
        border-radius: 0;
        aspect-ratio: 3 / 4;
        box-shadow: 5px 8px 10px #2424245c;
        transition:  0.2s;
        background-color: $dark;
        &:hover{
            transform: rotate(5deg);
        }
    }

    .card-body{
        // background-color: #000000;
        backdrop-filter: blur(8px);
        z-index: 1;
        padding: 10px;
        background: linear-gradient(
            to bottom, 
            rgba(31, 31, 31, 0.63) 0%, 
            rgba(224, 224, 224, 0.548) 100%
        );

    }
}